Store/Web References/dashCommerceTaxSvc/taxbasic.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://webservices.dashcommerce.com/tax/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://webservices.dashcommerce.com/tax/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://webservices.dashcommerce.com/tax/">
      <s:element name="GetTaxRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taxRequest" type="tns:TaxRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaxRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CountryCode" type="tns:CountryCode" />
          <s:element minOccurs="0" maxOccurs="1" name="RegionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="License" type="tns:License" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CountryCode">
        <s:restriction base="s:string">
          <s:enumeration value="UnitedStates" />
          <s:enumeration value="Canada" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="License">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTaxRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaxRateResult" type="tns:TaxResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaxResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionCollection" type="tns:ArrayOfExceptionWS" />
          <s:element minOccurs="0" maxOccurs="1" name="CanadaTaxDetails" type="tns:Canada" />
          <s:element minOccurs="0" maxOccurs="1" name="USTaxDetails" type="tns:AsBasic" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalSalesTax" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfExceptionWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ExceptionWS" nillable="true" type="tns:ExceptionWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExceptionWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionTypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StackTrace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HelpLink" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Canada">
        <s:complexContent mixed="false">
          <s:extension base="tns:ActiveRecordOfCanada">
            <s:attribute name="Abbrev" type="s:string" />
            <s:attribute name="ProvinceName" type="s:string" />
            <s:attribute name="Gst" type="s:string" />
            <s:attribute name="Pst" type="s:string" />
            <s:attribute name="Total" type="s:string" />
            <s:attribute name="TaxShippingHandling" type="s:string" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ActiveRecordOfCanada" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractRecordOfCanada" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AbstractRecordOfCanada" abstract="true" />
      <s:complexType name="AsBasic">
        <s:complexContent mixed="false">
          <s:extension base="tns:ActiveRecordOfAsBasic">
            <s:attribute name="ZipCode" type="s:string" />
            <s:attribute name="StateAbbrev" type="s:string" />
            <s:attribute name="CountyName" type="s:string" />
            <s:attribute name="CityName" type="s:string" />
            <s:attribute name="StateSalesTax" type="s:string" />
            <s:attribute name="StateUseTax" type="s:string" />
            <s:attribute name="CountySalesTax" type="s:string" />
            <s:attribute name="CountyUseTax" type="s:string" />
            <s:attribute name="CitySalesTax" type="s:string" />
            <s:attribute name="CityUseTax" type="s:string" />
            <s:attribute name="TotalSalesTax" type="s:string" />
            <s:attribute name="TotalUseTax" type="s:string" />
            <s:attribute name="TaxShippingAlone" type="s:string" />
            <s:attribute name="TaxShippingAndHandlingTogether" type="s:string" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ActiveRecordOfAsBasic" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractRecordOfAsBasic" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AbstractRecordOfAsBasic" abstract="true" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTaxRateSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaxRate" />
  </wsdl:message>
  <wsdl:message name="GetTaxRateSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaxRateResponse" />
  </wsdl:message>
  <wsdl:portType name="TaxBasicSoap">
    <wsdl:operation name="GetTaxRate">
      <wsdl:input message="tns:GetTaxRateSoapIn" />
      <wsdl:output message="tns:GetTaxRateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TaxBasicSoap" type="tns:TaxBasicSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTaxRate">
      <soap:operation soapAction="https://webservices.dashcommerce.com/tax/GetTaxRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TaxBasicSoap12" type="tns:TaxBasicSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTaxRate">
      <soap12:operation soapAction="https://webservices.dashcommerce.com/tax/GetTaxRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaxBasic">
    <wsdl:port name="TaxBasicSoap" binding="tns:TaxBasicSoap">
      <soap:address location="https://webservices.dashcommerce.com/tax/taxbasic.asmx" />
    </wsdl:port>
    <wsdl:port name="TaxBasicSoap12" binding="tns:TaxBasicSoap12">
      <soap12:address location="https://webservices.dashcommerce.com/tax/taxbasic.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>